<form class='text-center mt-5' method="POST" action="create">
  <button type="submit" class="btn btn-dark">Napravi sobu</button>
</form>

<h1 class="text-center mt-5 mb-5">Pridruzi se sobi</h1>
<p class="text-center mb-5">Maksimalni broj igraca po sobi je 2.</p>
<div class='flex-container'>
  {{#each hashes}}
  <div class="card mt-2 mb-4 ml-4 mr-4" style="width: 18rem;">
    <img class="card-img-top" src="crossword.png" alt="crossword">
    <div class="card-body text-center">
      <h4 class="card-title">{{this.name}}</h4>
      <p class="card-text">Number of players: <span class="font-weight-bold">{{this.numberOfPlayers}}</span></p>
      <form class='text-center' method="POST" action="join">
        <input name='name' value={{this.name}} class="none-display">
        <button type="submit" id='joinBtn' class="btn btn-dark">Pridruzi se</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>