<div class='container-fluid' id="room">
    <h1 id='roomName' class="text-center text-capitalize mb-4 mt-4">
        {{{room.name}}}
    </h1>
    <p class="text-center">
        <span class="font-weight-bold text-capitalize text-danger">{{{room.master}}}</span> is the game master.
    </p>
    <p class="text-center">You are playing as
        <span class="font-weight-bold text-capitalize text-info">{{{currentUser}}}</span>.
    </p>
    <p class="text-center mb-3 mt-1">
        Number of players: {{{room.numberOfPlayers}}}
    </p>
    <div class='flex-container no-wrap'>
        <div>
            <canvas id="canvas" width="600" height="200"></canvas>
        </div>
        {{#ifValue room.master currentUser}}
        <div class='container mt-3'>
            <input id='wordInput' class="form-control" value='' type="text">
            <button id="submitWordBtn" class="btn btn-dark mt-3">Submit word</button>
        </div>
        {{/ifValue}}
        {{#ifNotValue room.master currentUser}}
        <div class='flex-container mt-3'>
            {{#each letters}}
            <button class='btn btn-secondary m-1 letter' value="{{this}}" disabled>{{this}}</button>
            {{/each}}
        </div>
        {{/ifNotValue}}
    </div>
    {{#ifNotValue room.master currentUser}}
    <div class='row container mt-1 ml-2'>
        <div class='col-6'>
            <div id="wrongAnswer" class="alert alert-danger" role="alert">
                That is not the right word. Try again!
            </div>
            <input id='wordInputClient' class="form-control" value='' type="text">
            <button id="submitWordBtnClient" class="btn btn-dark mt-3" disabled>Guess the word</button>
        </div>
    </div>
    {{/ifNotValue}}
</div>