.flex-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.letter{
    flex: 1 0 7.15%;
}

#wrongAnswer{
    display: none;
}

.no-wrap{
    flex-wrap: nowrap;
}

.none-display{
    display:none;
}

#canvas{
    border: 1px black solid;
    margin:auto;
}